@use 'sass:math';

svg {
	width: 100vmin;
	height: 100vmin;
	animation: colour 4s infinite alternate linear;

	path {
		animation: path 4s infinite alternate linear;
	}
}
body,
html {
	padding: 0;
	margin: 0;
}
html {
	background-color: steelblue;
}

@keyframes path {
	0%,
	100% {
		d: path('M0 10L246 246H10z');
	}
	50% {
		d: path('M246 10L246 246H10z');
	}
}

@keyframes colour {
	@for $i from 0 through 360 {
		#{math.div($i, 3.6) * 1%} {
			fill: hsl($i, 100%, 70%);
		}
	}
}
