@use 'sass:color';

#sort-json5-keys {
	padding: 10px;

	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 5fr 2fr 5fr;
	place-items: center;
}

textarea {
	background-color: transparent;
	border: 4px solid var(--border);
	border-radius: 8px;
	color: inherit;
	outline: none;

	width: 100%;
	height: 100%;

	resize: none;
	padding: 10px;
	font-size: 1.5em;

	&::placeholder {
		text-align: center;
	}
}

.error {
	margin: 10px;
}
