$border: 3px solid #30363d;

table {
	table-layout: fixed;
	width: max-content;
}

tr {
	border-bottom: $border;
}

td {
	&.cell_false {
		color: #b9503f;
	}
	&.cell_true {
		color: #3fb950;
	}
}

th,
td {
	padding: 4px 1em;

	border-left: $border;
	&:first-child {
		border-left: none;
	}
}
