@import '../common/theme.scss';

:root {
	--bg: #{$bg};
	--text: #{$text};
	--border: #{$border};
	--blue: #{$blue};
	--red: #{$red};

	background: var(--bg);
	color: var(--text);
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2em;

	font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

a {
	color: var(--blue);
}
