@import '../vars';

.notification-bar {
	width: 100%;

	font-size: 0.9em;

	display: grid;
	grid-template-columns: 6.5% auto auto 6%;

	align-items: center;

	color: $notification-grey;

	.battery-and-icons {
		justify-self: end;

		display: flex;
		justify-content: flex-end;
		align-items: center;

		svg {
			height: 1.2em;
		}

		.icon-reception {
			height: 1em;
		}
	}

	.battery-input {
		width: 5ch;

		text-align: right;

		margin: 0 1px;
	}

	.clock {
		grid-column: 2 / 3;

		justify-self: start;

		width: 5ch;
	}
}
