@import '../vars';

.navbar {
	color: $text-white;

	display: grid;
	align-items: center;

	margin: 0 6.5%;

	grid-template-columns: auto repeat(3, 1fr);

	svg {
		height: 1.5em;
	}

	.icon-angle-left {
		justify-self: start;

		margin-right: 1em;
	}

	.icon-dots-vertical {
		grid-column: 4 / 5;

		justify-self: end;
	}
}
