@use '../../common/fonts/OpenSans-Regular.scss';

:root {
	--thick-border: 2px solid #344861;
	--thin-border: 1px solid #aaa;
	--valid: #3fb950;
	--warn: #fe8a4f;
	--invalid: #dc3545;
	--hover-invalid: #bb2d3b;
	--info: #0d6efd;
	--hover-info: #0b5ed7;
	--focused-cell-bg: #bbdefb;
	--hover-cell-bg: #ddeeff;
	--white: #fff;
	--text: #344861;
	--transition-properties: 0.15s ease-in-out;
}

html,
body {
	padding: 0;
	margin: 0;

	min-height: 100%;
	width: 100%;

	line-height: 1.4;

	color: var(--text);
	background-color: var(--white);

	user-select: none;
}

#app {
	padding: 5px 1em;
	font-size: 2.2em;
	font-family: 'Open Sans', 'Open-Sans', sans-serif;

	display: grid;
	grid-template:
		'error				sudoku	inputs'
		'spacing-left	solve		spacing-right'
		'spacing-left	clear		spacing-right';

	grid-template-columns: repeat(3, 1fr);

	justify-items: flex-start;

	align-items: center;

	min-height: 100%;
}

@media (max-width: 600px) {
	#app {
		grid-template:
			'sudoku sudoku sudoku'
			'solve solve solve'
			'clear clear clear'
			'spacing-r1 inputs error';

		grid-template-columns: repeat(3, 1fr);

		justify-items: center;
		font-size: 27px;
	}
}

@media (max-width: 500px) {
	#app {
		font-size: 22px;
	}
}
