@use 'sass:math';

@use 'rainbow';

@import 'vars';

:root {
	--red: #{$red};
	--cyan: #{$cyan};
	--text: #{$text};
	--gradient: #{$gradient};
	--background: #{$background};
}

* {
	box-sizing: border-box;
}

#hex-to-rgb {
	overflow: hidden;
	color: var(--text);
	line-height: 1.25;

	background-color: var(--background);
}
input {
	margin: 2px 0;
	padding: 0.15em 0.3em;
	font-size: 0.9em;

	color: var(--text);
	background-color: transparent;

	outline: 0;
	border: none;
	border-bottom: 1px solid var(--text);
	transition: border-bottom 0.3s ease-in-out;
	border-radius: 0;
}

.inputs-rows {
	> * {
		width: 100%;
	}
}

.row {
	margin: 1em 0;
}

.horizontal-vertical-center {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.invalid,
:invalid {
	color: var(--red);
	border-color: var(--red);
}

// Hide number spin buttons (arrows)
input[type='number'] {
	appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
	}
}

.floating-box {
	background-color: var(--background);
	border-radius: 3px;
	border: 3px solid var(--cyan);

	padding: 0 4%;

	min-width: 25vw;
}
