@use 'sass:color';

:root {
	--invalid: #ea4335;
	--correct: #34a853;
	--wrong-location: #ffc107;
	--active-cell-border: #bbdefb;
	--active-cell-color: grey;
	--border: #3c4043;
	--text: #eee;
	--bg: #202124;
}

html,
body {
	height: min-content;
	width: 100%;
	min-width: min-content;

	font: 23px 'Open Sans';
	background-color: var(--bg);
	color: var(--text);
}

body {
	display: flex;
	justify-content: center;
	padding: 1em;
	padding-bottom: 4em;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans'), local('Open-Sans'),
		url('../public/fonts/OpenSans-Regular.ttf') format('truetype');
}
