@use "sass:math";

$bg: #0d1117;
$text: #c9d1d9;
$blue: #275efe;
$line-height: math.div(100vh, 20);
$font-size: math.div($line-height, 5) * 4;

html {
	background-color: $bg;
	color: $text;
	font-family: 'Open Sans', 'Segoe UI', sans-serif;
	font-size: $font-size;
}

body,
html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clock {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	transform: translateY($line-height * 4.5);
}
.colon {
	margin: 0 2px;
}

.clock-row {
	border: 1.5px solid $text;
	border-radius: 2px;
	margin: 0 2px;
	padding: 5px 10px;

	transition: transform cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.3s;

	@for $i from 0 through 9 {
		&.active-child-#{$i} {
			transform: translateY(-$line-height * $i);
		}
	}

	* {
		line-height: $line-height;
		border-radius: 100%;
	}
}

.active {
	color: $blue;
	transition: color cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.3s;
}
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans'), local('Open-Sans'),
		url('/fonts/OpenSans-Light.woff2') format('woff2');
}
