$bg: #0d1117;
$text: #c9d1d9;
$blue: #275efe;
$font-size: 4vmin;
$amount-cols: 43;

html {
  background-color: $bg;
  color: $text;
  font-family: 'Open Sans';
  font-size: $font-size;
}

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  display: grid;
  grid: repeat($amount-cols, minmax(0, 1fr)) / repeat(38, minmax(0, 1fr));
  height: 100vmin;
  width: 100vmin;
}

.clock-row {
  border: 1.5px solid $text;
  border-radius: 2px;
  margin: 0 1px;

  transition: transform cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.3s;

  @for $i from 0 through 9 {
    &.active-child-#{$i} {
      grid-row-start: 2 * (11 - $i);
    }
  }

  * {
    line-height: 100vmin * 2 / $amount-cols;
  }

  &.hour1 {
    grid-column: 13 / 15;
    grid-row-end: span 4 * 2 - 1;
  }
  &.hour2 {
    grid-column: 15 / 17;
    grid-row-end: span 11 * 2 - 1;
  }
  &.min1 {
    grid-column: 18 / 20;
    grid-row-end: span 7 * 2 - 1;
  }
  &.min2 {
    grid-column: 20 / 22;
    grid-row-end: span 11 * 2 - 1;
  }
  &.sec1 {
    grid-column: 23 / 25;
    grid-row-end: span 7 * 2 - 1;
  }
  &.sec2 {
    grid-column: 25 / 27;
    grid-row-end: span 11 * 2 - 1;
  }
}
.colon1,
.colon2 {
  grid-row: 22 / span 2;
}

.colon1 {
  grid-column: 17 / 18;
}
.colon2 {
  grid-column: 22/ 23;
}

.active {
  color: $blue;
  transition: color cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.3s;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('Open-Sans'),
    url('./OpenSans-Light.woff2') format('woff2');
}
