$thick-border: 2px solid #111;
$thin-border: 1px solid #aaa;
$valid: #3fb950;
$warn: #fe8a4f;
$invalid: #da3633;
$focused-cell-bg: #7fdbff;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;

  min-height: 100%;
  width: 100%;
}

.is-mobile {
  display: none;
  width: 80vmin;

  .close {
    float: right;

    font-weight: bold;
  }
}

@media only screen and (max-width: 1000px) {
  .is-mobile {
    display: initial;
  }
}

.App {
  padding: 5px;
  font-size: 2.2em;
  font-family: 'Open Sans', 'Open-Sans', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  min-height: 100%;
}

.invalid-input {
  color: $invalid;
}

.sudoku {
  /* 
  display: flex;
  flex-direction: column; */
  display: grid;
  grid-template: repeat(9, minmax(0, 1fr)) / repeat((9, minmax(0, 1fr)));

  width: 80vmin;
  height: 80vmin;
  min-height: 80vmin;
  min-width: 80vmin;
  max-height: 80vmin;
  max-width: 80vmin;
  border: $thin-border;
}
.cell {
  border: $thin-border;

  &:nth-child(3n) {
    border-right: $thick-border;
  }
  &:nth-child(9n + 1) {
    border-left: $thick-border;
  }

  @for $i from 0 through 2 {
    $lower-limit: $i * 3 * 9 + 1;
    $upper-limit: 81 - (($i * 3 + 1) * 9) + 1;

    &:nth-child(n + #{$lower-limit}):nth-last-child(n + #{$upper-limit}) {
      border-top: $thick-border;
    }
  }

  &:nth-child(n + 73) {
    border-bottom: $thick-border;
  }

  text-align: center;
  flex: 1 1 0;

  display: flex;

  justify-content: center;
  align-items: center;

  &.focused-cell {
    background-color: $focused-cell-bg;
  }

  input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font: inherit;

    text-align: center;
  }
}

.solve {
  color: $valid;
  border-color: $valid;
}
.clear {
  color: $warn;
  border-color: $warn;
}

.solve,
.clear {
  font: inherit;

  border: 2px solid;
  border-radius: 5px;
  background: none;
  margin-top: 10px;
  width: 80vmin;

  cursor: pointer;
}

@font-face {
  font-family: 'Open sans';
  src: url('/fonts/OpenSans-Regular.ttf') format('TrueType');
}
