@use 'sass:color';

@use '../../common/fonts/JetBrainsMono-Regular.scss';

@import '../../common/theme.scss';

#json-dts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1em;

	height: 100vh;
	width: 100vw;
	padding: 16px;
}

@media screen and (min-width: 700px) {
	#json-dts {
		flex-direction: row;
	}
}

html {
	background: linear-gradient(170deg, $bg 0%, lighten($bg, 5%) 80%);

	font-size: 20px;
	font-family: 'JetBrains Mono', monospace;
}

textarea {
	--outline: var(--text);

	resize: none;
	color: inherit;
	font: inherit;

	padding: 2px 12px;

	border: 2px solid var(--outline);
	border-radius: 5px;
	background: none;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);

	flex: 1;

	&:focus,
	&:active {
		outline: 3px solid var(--outline);
	}

	&.invalid {
		--outline: var(--red);
	}
}
