@use 'sass:color';

@use '../../common/fonts/JetBrainsMono-Regular.scss';

@import '../../common/theme.scss';

#app {
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
	gap: 1em;
}

@media screen and (min-width: 700px) {
	#app {
		flex-direction: row;
	}
}

html,
body,
#app {
	height: 100%;
}

html {
	color: #cbd5e1;

	background: $bg;
	background: linear-gradient(170deg, $bg 0%, lighten($bg, 5%) 80%);

	padding: 16px;

	font-size: 20px;
	font-family: 'JetBrains Mono', monospace;
}

textarea {
	--outline: #{$text};

	resize: none;
	color: inherit;
	font: inherit;

	padding: 2px 12px;

	border: 2px solid var(--outline);
	border-radius: 5px;
	background: none;
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);

	flex: 1;

	&:focus,
	&:active {
		outline: 3px solid var(--outline);
	}

	&.invalid {
		--outline: #{$red};
	}
}
