@use '../../common/fonts/Orbitron.scss';
@use '../../common/fonts/SamsungSans.scss';

@use 'vars';

html {
	font-family: 'Samsung Sans', sans-serif;

	background-color: var(--background-grey);
}

input,
select,
textarea,
button {
	font: inherit;
	color: currentColor;
}

#fake-fitness-app {
	height: 100vh;
	width: 100vw;

	display: grid;

	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 100%;

	align-items: center;

	justify-items: center;
}

.inputs {
	grid-column: 1 / 2;

	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-size: 3vmin;

	color: var(--text-black);

	> div {
		margin: 0.75em 0;

		width: 80%;

		display: grid;
		grid-template-columns: 2fr 3fr;

		align-items: center;
		justify-items: center;
	}

	label {
		margin-right: 3px;
		color: var(--text-white);
	}
}

.fake-app {
	background-color: var(--app-background);

	grid-column: 2 / 3;

	display: grid;
	grid-template-rows: 3vmin 6vmin repeat(3, auto) 1fr;

	font-size: 2.3vmin;
}

.input-remove-input-visuals {
	border: none;
	background: none;
	outline: none;
	margin: 0;
	padding: 0;

	color: currentColor;

	display: flex;
	align-items: center;
	justify-content: center;
}

.invalid {
	color: var(--red);
}

.icon-interactive {
	cursor: pointer;
}

.vertical-border {
	border-right: 1px solid var(--border-color);

	&.height-12 {
		height: 1.7vmin;
	}

	&.height-22 {
		height: 3.1vmin;
	}
}
