@use 'sass:math';

@use '../public/fonts/OpenSans-Light';

$transition-dur: 0.75s;
$bg-dark: #0d1117;
$text-dark: #c9d1d9;
$bg-light: #fff;
$text-light: #24292e;

* {
	transition-duration: $transition-dur;
	transition-timing-function: ease-in-out;
}

html,
body,
.center-content {
	height: 100%;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}
.theme-toggle {
	position: fixed;
	right: 0;
	top: 0;
	margin: var(--svg-margin);
	cursor: pointer;
	transform-origin: center;

	&:active {
		transform: scale(0.9);
	}

	input {
		display: none;

		+ svg {
			transform: rotate(0);
			transition-property: transform;
			transform-origin: center;
			width: var(--svg-size);
			height: var(--svg-size);

			> #dark,
			> #light {
				transition-property: opacity;
			}

			> #dark {
				opacity: 0;
			}

			// Strictly not necessary, since it defaults to this
			> #light {
				opacity: 1;
			}
		}

		&:checked {
			+ svg {
				> #dark {
					opacity: 1;
				}
				> #light {
					opacity: 0;
				}

				transform: rotate(360deg * 3);
			}
		}
	}
}

#root {
	margin-right: var(--root-margin);
	margin-left: var(--root-margin);

	span {
		color: #0000;
		background-image: linear-gradient(90deg, #4f97ff, #275efe);
		background-clip: text;
		-webkit-background-clip: text;
		font-size: 1.3em;
	}
}

body {
	color: $text-dark;
	background-position: bottom right;
	$bg-angle: 135deg;
	$gradient-width: 3.5%;
	$bg-size: 200% + $gradient-width * 1.2;

	transition-property: background-color, color, background-position;
	background-image: linear-gradient(
		$bg-angle,
		$bg-light 50% - $gradient-width,
		$bg-light,
		$bg-dark,
		$bg-dark 50% + $gradient-width
	);
	background-size: $bg-size $bg-size;
	text-align: center;
	font: var(--font-size) 'Open sans', sans-serif;

	&.light {
		color: $text-light;
		background-position: top left;
	}
}

@mixin responsive-media($min-width) {
	@media (min-width: $min-width) {
		:root {
			@content;
		}
	}
}

:root {
	--svg-size: 40px;
	--svg-margin: 15px;
	--font-size: 30px;
	--root-margin: 10px;
}
@include responsive-media(840px) {
	--font-size: 30px;
}
@include responsive-media(1100px) {
	--font-size: 30px;
}
@include responsive-media(1360px) {
	--font-size: 34px;
	--svg-size: 50px;
}

html,
body {
	padding: 0;
	margin: 0;
}
