@use 'sass:math';

$red: #dc3545;
$cyan: #3c79b2;
$font-colour: #111;
$gradient: (#12c2e9, #c471ed, #f7797d);

@use 'rainbow' with(
  $gradient: $gradient,
);

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
	color: $font-colour;
	line-height: 1.25;

	background-color: white;
}
input {
	margin: 2px 0;
	padding: 0.15em 0.3em;
	font-size: 0.9em;

	color: $font-colour;
	background-color: transparent;

	outline: 0;
	border: none;
	border-bottom: 1px solid #111;
	transition: border-bottom 0.3s ease-in-out;
	border-radius: 0;

	+ .input-pseudo-border {
		$height: 3px;

		position: relative;
		top: -$height - 0.5px;
		margin-bottom: -$height - 1px;

		border: none;
		border-bottom: $height solid;
		border-image: linear-gradient(to right, $gradient);
		border-image-slice: 1;

		transition: transform 0.3s ease-in-out;

		transform: scaleX(0);
		transform-origin: 100% 0;
	}

	&:focus + .input-pseudo-border {
		transform: scaleX(1);
		transform-origin: 0 0;
	}
}

.inputs-rows {
	> * {
		width: 100%;
	}
}

.row {
	margin: 1em 0;
}

.horizontal-vertical-center {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.invalid,
:invalid {
	color: $red;
	border-color: $red;
}

// Hide number spin buttons (arrows)
input[type='number'] {
	appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		appearance: none;
	}
}

.floating-box {
	background-color: #fff;
	border-radius: 3px;
	border: 3px solid $cyan;

	padding: 0 4%;

	min-width: 25vw;
}
@font-face {
	font-family: 'Open sans';
	src: local('Open Sans'), local('Open-Sans'),
		url('/fonts/OpenSans-Regular.ttf') format('TrueType');
}
