$notification-grey: #bdbdbd;
$text-white: #fafafa;
$red: #ff4136;

$border-color: #e6e6e6;

$table-small-explanation: #999;

$card-background: #171717;
$card-border-radius: 25px;

$app-background: #010101;

$photo-icon-background: #3d3d3d;

// Surrounding area
$background-grey: #6c757d;
$text-black: #111;
