$blue: #587ef8;
$red: #b9503f;
$green: #3fb950;

$bg: #151a1e;
$text: #ddd;

$border: #30363d;

$card: #252530;
$anchor: $blue;

:root {
	--blue: #{$blue};
	--red: #{$red};
	--green: #{$green};
	--bg: #{$bg};
	--text: #{$text};
	--border: #{$border};
	--card: #{$card};
	--anchor: #{$anchor};
}
